<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    {% if title %}
        <title>Flask API Request - {{ title }}</title>
    {% else %}
        <title>Flask API Request</title>
    {% endif %}

    {% block header %}{% endblock %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Flask API Request</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- a class="nav-item nav-link" href="{{ url_for('.home') }}">Start</a -->
              <a class="nav-item nav-link" href="{{ url_for('.home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="https://github.com/pyrrolizin/flask-api-request">GitHub</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container pb-5">
      <div class="row">
        <div class="col-md">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        {% block footer %}{% endblock %}
        <p>Developed by <a href="https://github.com/pyrrolizin">Peter Keck</a> - <a href="https://github.com/pyrrolizin/flask-api-request">Sourcecode</a></p>
      </div>
</footer>
</body>
</html>